.not_found {
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
  p {
    font-size: 30px;
    margin-bottom: 30px;
  }

  Button {
    width: 80%;
    margin: 0 auto;
    max-width: 400px;
  }
}
