@import "src/assets/styles/_variables.scss";
@import "./checkbox.scss";
input,
textarea {
  display: block;
  background-color: $light-grey;
  // background-color: transparent;
  border-radius: 10px;
  border: none;
  height: $input-height;
  width: 100%;
  padding: $form-spacing;
  cursor: default;
  outline: none;
  font-size: 25px;
  resize: none;
  @include shadow;
  &:focus + .floating_label {
    top: 0%;
  }
}

.label {
  display: none;
}

textarea {
  font-family: "Sofia Sans", sans-serif;
  height: calc($input-height * 3);
  width: 100%;
  padding: 15px $form-spacing;
  outline: none;
  font-size: 25px;
}

.input_wrapper {
  position: relative;
  margin-bottom: 20px;
  width: 100%;

  .floating_label {
    pointer-events: none;
    display: block;
    position: absolute;
    left: $form-spacing;
    top: calc($input-height / 2);
    transition: all 0.25s;
    color: #000;
    font-weight: 500;
    transform: translateY(-50%);
    backdrop-filter: blur(2px);
    padding: 3px;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      top: 0%;
    }
  }

  .uncover_eye {
    position: absolute;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    top: 30%;
    font-size: 24px;
    right: 20px;
    color: #000;
    cursor: pointer;
    user-select: none;
  }
}

.error {
  display: block;
  color: red;
  margin-left: 10px;
}
