@import "src/assets/styles/variables.scss";

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 50px;
  .back_arrow,
  .name,
  nav {
    // cursor: pointer;
    // height: 44px;
    color: $dark;
    // border: 1px solid red;
    border-radius: 10px;
    // background-color: $light-grey;
    padding: 5px;
    font-size: 34px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 34px;
      height: 38px !important;
      width: 38px;
      min-width: auto;
      // background-color: transparent;
      // @include shadow // border-radius: 10px;
      // border: 1px solid red;
    }
  }
  .name {
    // background-color: transparent;
    font-weight: 500;
  }
  nav {
    & > * {
      // border: 1px solid #000;
    }
  }
}

nav {
  position: relative;
  .drop_menu {
    @include shadow;
    animation: drop-down 0.3s;
    z-index: 10;
    right: 50%;
    top: 70%;
    position: absolute;
    background-color: $light-grey;
    color: #000;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
    li {
      position: relative;
      font-size: 24px;
      // font-weight: bold;
      text-align: center;
      height: 40px;
      border-bottom: 1px solid #000;
      &:last-child {
        border: none;
        color: rgb(182, 0, 0);
        a:hover {
          background-color: $error;
        }
      }
      &:hover {
        background-color: $dark10-yellow;
        color: #fff;
      }
      a {
        text-decoration: none;
        color: #000;
      }
      .link {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@keyframes drop-down {
  0% {
    height: 0%;
  }

  100% {
    height: 120px;
  }
}

@media (min-width: 768px) {
  header {
    display: none;
  }
}
