@import "src/assets/styles/variables";

.todo_wrapper {
  .day_separator {
    text-decoration: underline;
    margin-top: -10px;
  }
}

.todo {
  display: flex;
  justify-content: space-between;
  user-select: none;
  position: relative;
  // padding: 0 10px;
  width: 100%;
  background-color: $light-grey;
  border-radius: 10px;
  color: #000;
  overflow: hidden;
  @include shadow;
  &.done {
    color: #ccc;
    > * {
      text-decoration: line-through;
    }
    .edit {
      opacity: 0.3;
    }
    .id {
      text-decoration: none;
    }
  }

  & > * {
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid #000;
    flex-grow: 3;
    flex-basis: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover {
    .edit {
      opacity: 1;
    }
  }
  .id {
    color: #000;
    flex-grow: 1;
    // font-weight: 600;
    font-weight: bold;
    min-width: 26px;
    border-right: 2px solid $dark10-yellow;
  }
  .title {
    padding-left: 10px;
    flex-grow: 9;
    text-align: left;
    justify-content: start;
  }

  .duration {
    // flex-grow: 1;
    text-align: center;
    font-weight: bold;
  }

  .edit {
    // flex-grow: 6;
    // border: 1px solid #000;
  }

  .more {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 40px;
    cursor: pointer;
    & > * {
      transition: transform 0.1s;
      background-color: transparent;
      // border: 1px solid #000;
      &:hover {
        transform: scale(1.15);
      }
    }

    .close {
      color: $error;
    }
    .check {
      color: $success;
    }

    .delete {
      font-size: 90%;
      color: #000;
    }
  }
  .small {
    font-size: 0.7em;
  }
}
