@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,100;0,200;0,400;0,500;0,700;0,900;1,200;1,600&display=swap");

$yellow: rgba(253, 204, 49, 1);
$light-grey: rgba(246, 246, 246, 1);
$form-spacing: 20px;
$input-height: 50px;
