$yellow: rgba(253, 204, 49, 1);
$light-yellow: rgba(255, 231, 135, 1);
$dark: rgb(37, 31, 8);
$dark10-yellow: darken($yellow, 10%);
$dark20-yellow: darken($yellow, 20%);
$dark30-yellow: darken($yellow, 30%);
// $very-dark-yellow: darken($yellow, 20%);
$light-grey: rgba(246, 246, 246, 1);
$form-spacing: 20px;
$input-height: 50px;
$success: #74d673;
$error: #f7665f;

@mixin shadow {
  box-shadow: 0px 5px 15px 0px $dark30-yellow;
}

@mixin shadow_hover {
  box-shadow: 0px 5px 10px 0px $dark30-yellow;
}

@mixin shadow_active {
  box-shadow: 0px 5px 5px 0px $dark30-yellow;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
